*{
  margin:0;
  padding:0;
  
}
body{
  overflow: hidden;
}
header{
  text-align: center;
  height:5vh;
  color:white;
}
.navigation{
  display: flex;
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  background-color: black;
  padding: 20px 20px;
  width: 98%;
  height:20px;
  /* z-index:-1; */
  /* overflow-x:hidden; */
}

.sidebar{
  position:absolute;
  background-color: #707070;
  top:0;
  height:107vh;
  width:300px;
  z-index:1;
}  
.input-fields{
  padding:1px 10px;
  margin:3px 2px;
  display:flex;
  flex-wrap: wrap;
  gap:5px;
  justify-content: center;
  align-items: center;
  height:80vh;
  width:100%;
  z-index: 2;
}
.cin-tag{
  height:277px;
  width:100%;
  padding:61px 32px;
  display:flex;
  justify-content: space-evenly;
  margin-right:30px;
  z-index: 3;
  /* align-items: center; */

}
.cout-tag{
  height:214px;
  width:186%;
  padding:6px 28px;
  display:flex;
  justify-content: space-evenly;
  margin-right: 30px;
  z-index: 3;
  /* align-items: center; */
}

textarea{
  padding:12px 12px;
  border-radius: 20px;
  box-sizing: border-box;
  border:2px solid black;
  background-color: #B0B0B0;
  width:250px;
  height:118%;
  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}
.container{
  margin-left:301px;
  position:relative;
  display:flex;
  flex-direction: column;
  /* background-color: aqua; */
  height: 95vh ;
  z-index:1;
  bottom:0px;
}
.Represent,
.Memory {  
position: absolute;
top: 0;
width: 50%;
height: 100%;
overflow:scroll;  
}

.Represent {
left: 0;
background-color: white;
z-index: 2;
/* display:grid; */
/* grid-template-columns: 1fr 1 fr 1fr 1fr;
grid-template-rows: 1fr; */
}
.Represent > * {
  /* grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1; */
  position: absolute;
  top:0px;
  left:0px;
}

.Memory {
right: 0;
background-color: white;
z-index: 2; 
}
.center-line {
  display: inline;
border-left: 2px dashed black; 
position: absolute;
left: 50%;  
height: 100%;
z-index:5;
}
.outer-Represent{
position:relative;
display:flex;
flex-direction:row;
gap:0;
width:fit-content;
height:fit-content;
padding:2px 2px 2px 2px;
margin:2px 2px 2px 2px;
border:2px solid black;
border-radius: 5px;
background-color: #d2f7ff;
}
.outer-Memory{
position:relative;
display:flex;
flex-direction:row;
gap:0;
width:fit-content;
height:fit-content;
padding:2px 2px 2px 2px;
margin:2px 2px 2px 2px;
border:2px solid rgb(0, 45, 14);
border-radius: 5px;
background-color: #67ff76;
}
.inner-box{
width:56px;
position:relative;
height:42px;
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
margin:2px;
background-color:rgb(103, 166, 255);
border:2px solid rgb(85, 85, 85);
border-radius: 5px ;
padding: 3px;

} 
.inner-Memory-box{
width:56px;
position:relative;
height:42px;
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
margin:2px;
background-color:rgb(198, 255, 217);
border:2px solid rgb(86, 163, 97);
border-radius: 5px ;
padding:3px;

} 
.compile-button {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
  /* top: 600px;
  left:115px; */
  z-index:7; 
}
.compile-button:hover {
  background-color: #b36200;
  cursor: pointer; 
}
.visual_cell{
  background: hsl(0, 0%, 100%);
  min-height: 90px;
  min-width: 84px;
  max-height: 90px;
  max-width: 84px;
}

.slider-container {
  position:relative;
  top:-67px;
  margin: 10px auto; /* Centering the slider */
  width: 220px; 
  height:20px;/* Width of the container, adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slider styles */
#sleepTimeSlider {
  -webkit-appearance: none; /* Removes default styling */
  appearance: none;
  width: 100%; /* Full width within the container */
  height: 4px; /* Height of the slider track */
  background:linear-gradient(90deg,red 33%,white 33%); /* Background color of the slider track */
  outline: none; /* Removes outline on focus */
  opacity: 0.7; /* Transparency */
  transition: opacity 0.2s; /* Transition effect */
}

#sleepTimeSlider:hover {
  opacity: 1; /* Full opacity on hover */
}
#sleepTimeSlider::before{
  content:"0.1x";
  color:white;
  font-size: 18px;
  position:absolute;
  /* left:80%;
  top:26%; */
  margin-top:7px;
  margin-left:8px;
 }
 #sleepTimeSlider::after{
  content:"100x";
  color:white;
  font-size: 18px;
  position:absolute;
  /* left:80%;
  top:26%; */
  margin-top:5px;
  margin-left:183px;
 }

#sleepTimeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default thumb */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #4CAF50; /* Color of the thumb */
  cursor: pointer; /* Cursor style */
  border-radius: 50%; /* Make the thumb a circle */
}

#slider-speed{
  margin-left:276px;
  position:absolute;
  opacity:1;
}

#ExecutionSpeedValue{
  margin-left: 2px;
  opacity:1;
  position:absolute;
}